@primary-color: #00a870;

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

// antd rewrite

.ant-menu-inline .ant-menu-item {
  margin: 0 !important;
}

.ant-menu-inline .ant-menu-item:not(:last-child) {
  margin-bottom: 0 !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none !important;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: lighten(@primary-color, 65%) !important;
}
