@header-height: 60px;
@gap: 20px;
@sider-width: 250px;
@primary-color: darkslateblue;

.layout {
  font-family: Georgia, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    height: @header-height;
    line-height: @header-height;
    font-weight: normal;
    background: @primary-color;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: row;

    .lt {
      width: 70%;
    }

    .rt {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }

    .title {
      margin: 0;
      padding: 0 @gap;
      width: @sider-width;
      box-sizing: border-box;

      a {
        text-decoration: none;
        color: #fff;
        user-select: none;
      }
    }

    .profile {
      padding: 0 @gap;

      span {
        padding: 0 @gap/2;
        display: inline-block;
        height: @header-height;
        cursor: pointer;

        &:hover {
          background-color: #f9f9f9;
          color: #000;
        }
      }
    }

  }

  .body {
    flex: 1;
    display: flex;
    flex-direction: row;

    .sider {
      width: @sider-width;
      background-color: #f9f9f9;
    }

    .content {
      flex: 1;
    }
  }

}

