@header-height: 60px;
@gap: 20px;
@sider-width: 220px;
@primary-color: #00a870;
@bg-color: #fafafa;

.layout {
  font-family: Georgia, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    height: @header-height;
    line-height: @header-height;
    font-weight: normal;
    background: @primary-color;
    color: #fff;
    margin: 0;
    display: flex;
    flex-direction: row;

    .lt {
      flex: 1;
      display: flex;
    }

    .rt {
      display: flex;
      justify-content: flex-end;
    }

    .title {
      margin: 0;
      padding: 0 @gap;
      width: @sider-width;
      box-sizing: border-box;
      display: inline-block;

      a {
        text-decoration: none;
        color: #fff;
        user-select: none;
      }
    }

    .nav {
      height: @header-height;
      line-height: @header-height;
      display: inline-flex;
      position: relative;
      user-select: none;

      &-title {
        color: #fff;
        margin: 0;
        padding: 0 @gap/2;
        height: @header-height;
        text-align: center;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #fff;
          height: @header-height;
          display: inline-block;
        }
      }

      &-content {
        box-sizing: border-box;
        background-color: @primary-color;
        position: absolute;
        z-index: 100;
        top: @header-height;
        display: none;
      }

      &.active {

        .nav-title {
          background-color: darken(@primary-color, 3%);
        }

        .nav-content {
          background-color: darken(@primary-color, 3%);
        }
      }
    }

    .lt {
      .nav-title {
        min-width: 100px;
      }
    }

    .profile {
      padding: 0 @gap;
    }

  }

  .body {
    flex: 1;
    display: flex;

    .body_column {
      flex: 1;
      display: flex;
      flex-direction: row;

      .sider {
        width: @sider-width;
        background-color: #fff;
        padding: @gap 0;
      }

      .content {
        flex: 1;
        background-color: @bg-color;
      }

    }

    .body_page {
      flex: 1;
    }

  }

}
